In [3]:
import pandas as pd

In [26]:
customers = pd.read_excel("H+ Sport Customers.xlsx")

In [25]:
customers.isnull().sum()

CustomerID    0
FirstName     0
LastName      0
Email         0
Phone         0
Address       0
City          0
State         0
Zipcode       0
dtype: int64

Customers

In [14]:
customers.head()

,CustomerID,FirstName,LastName,Email,Phone,Address,City,State,Zipcode
0,100,Carol,Shaw,cshaw0@mlb.com,(206)804-8771,8157 Longview Court,Seattle,WA,98121
1,101,Elizabeth,Carr,ecarr1@oracle.com,(512)187-2507,3934 Petterle Trail,Austin,TX,78732
2,102,Ernest,Ramos,eramos2@plala.or.jp,(816)540-4257,8699 Clarendon Terrace,Kansas City,MO,64199
3,103,Jane,Carter,jcarter3@harvard.edu,(214)839-0542,2830 Novick Lane,Irving,TX,75037
4,104,Martha,Cooper,mcooper4@go.com,(727)235-5696,4537 Hoard Lane,Tampa,FL,33625

In [15]:
columns_to_check = ['Email', 'Phone','FirstName', 'LastName']

In [17]:
duplicates = customers[customers.duplicated(columns_to_check)]

In [20]:
duplicates.head()

,CustomerID,FirstName,LastName,Email,Phone,Address,City,State,Zipcode
1000,1100,Chris,Moreno,cmorenond@mac.com,(907)709-6086,8740 Oak Valley Park,Fairbanks,AK,99790
1001,1101,Gerald,Green,ggreenne@wisc.edu,(203)541-4782,242 Eastlawn Drive,New Haven,CT,6510
1002,1102,Johnny,Ruiz,jruiznf@nba.com,(202)731-4171,70917 Meadow Valley Crossing,Washington,DC,20337
1003,1103,Carlos,Morales,cmoralesng@ed.gov,(517)792-4134,8 Jay Way,Lansing,MI,48956
1004,1104,Gloria,Ramos,gramosnh@xing.com,(646)144-6692,32091 Ryan Street,New York City,NY,10110

In [22]:
duplicates.shape

(29, 9)

duplicates removed customer data

In [23]:
customers = customers[customers.duplicated(columns_to_check, keep='first')]

Employees

In [27]:
employees = pd.read_excel("H+ Sport Employees.xlsx")

In [ ]:
employees.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,NaN,This document was exported from Numbers. Each ...,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN